<%# shows the user's board games %>

<% current_user.games.each do |game| %>
  <h1> Board Game <%= @game.id %> </h1>
  <h2>Title:</h2>
  <h3> <%= @game.title %></h3>
  <h2>Players:</h2>
  <h3> <%= @game.players %></h3>
  <h2>Description:</h2>
  <h3> <%= @game.description %></h3>
  <h2>Mechanics:</h2>
  <h3> <%= @game.mechanics %></h3>

<% end %>
    <br></br>

    <form action="/games/<%= @game.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Game" name="delete">
    </form>

      <br></br>

    <a href="/games/<%=@game.id%>/edit"> Edit Board Game </a>

    <br>

    <a href="/games"> Return to Board Games </a>
